body{
    background-color: silver;
}
main{
    font-family: 'Muli', sans-serif;
    display: grid;
    
}
header p:nth-of-type(1){
    padding-bottom: 2rem;
    padding-top: 2rem;
}
header, footer{
    font-family: 'Muli', sans-serif;
    padding-top: 5rem;
    background-color: #1E3D5A;
    color: rgb(255, 255, 255);
    text-align: center;
}
ul{
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto);
    align-items: start;
    justify-items: center;
}
a {
    padding-left: 3rem;
    text-decoration: none;
    color: white;
    padding-right: 3rem;
}
