/*  // call it
  div {  
        @include material-shadow($z-depth: );
      }
    }  
  }
  
  .dark div {
        @include material-shadow($z-depth: 0, $strength: 2);
      
    }  
  
  
  .float {
      transition: all .2s ease-out;
      &:hover {
        transform: translateY(-5px);
        @include material-shadow(5);
    }
  } */
/* .head {
	position: fixed;
	top: 15px;
	left: 50%;
	margin-left: -200px;
	width: 400px;
}
 */
.head .line {
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 10px;
  border-radius: 0 2px 3px 0;
  left: 0;
  right: 22px;
  -webkit-transition: left 0.6s;
  transition: left 0.6s;
}

.head .icon {
  float: right;
  width: 61px;
  position: relative;
  /*   */
}

.head .icon div {
  position: absolute;
  left: 50%;
  top: 58%;
  -webkit-transform: translateX(-50%) translateY(-6px);
  transform: translateX(-50%) translateY(-6px);
  display: block;
  width: 18px;
  height: 1px;
  background: #fff;
}

.head .icon div.open {
  background: none;
}

.head .icon div.open:before,
.head .icon div.open:after {
  top: 0;
}

.head .icon div.open:before {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.head .icon div.open:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.head .icon div,
.head .icon div:before,
.head .icon div:after {
  width: 18px;
  height: 2px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: #fff;
}

.head .icon div:before,
.head .icon div:after {
  content: "";
  position: absolute;
}

.head .icon div:before {
  top: -6px;
}

.head .icon div:after {
  top: 6px;
}

.head .icon svg {
  width: 100%;
  height: 100%;
}

.head .icon svg circle {
  fill: none;
  stroke: #436775;
  stroke-width: .5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 39 39;
  stroke-dashoffset: -39;
  -webkit-transition: stroke-dashoffset .5s;
  transition: all 0.5s;
}

.head.animate .line {
  right: 25px;
  left: 100%;
}

.head.animate svg circle {
  stroke-dashoffset: 0;
  stroke: #fff;
  -webkit-transition: stroke-dashoffset .5s;
  transition: all 0.5s;
}

body > div {
  height: 0;
}

*, *::before, *::after, *:before, *:after {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.child {
  grid-column-start: span 3;
  padding-right: 2rem;
  padding-left: 2rem;
}

.childHeader {
  grid-column-start: 2;
  grid-column-end: 3;
  padding-right: 2rem;
  padding-left: 2rem;
}

.fixedPosition {
  position: fixed;
}

.anchor {
  padding-top: 60px;
  margin-top: -6px;
}

* {
  font-family: 'Roboto', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

header {
  color: whitesmoke;
  background-color: #3a4e58;
  padding-bottom: 10vh;
  margin-bottom: 6px;
}

header div.banner {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #436775;
  height: 4rem;
  padding: 0 0.5rem;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-column-gap: 10%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  z-index: 99;
  /*         >div:nth-of-type(1){
            justify-self: end;
            margin-right: 1rem;
            span{
                display: inline-block;
                height: 1.5rem;
                /*img{
                     padding-left: .5rem;
                    padding-right: .5rem;
                    border-radius: 50%;
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }*/
  /* }
            span:nth-of-type(2) {
                margin-left: 1rem;
            } 
        }*/
}

header div.banner .dark {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.48), 0 3px 6px rgba(0, 0, 0, 0.69);
}

header div.banner .float {
  transition: all .2s ease-out;
}

header div.banner .float:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 100%;
}

header div.banner .head {
  position: fixed;
  top: 2.5px;
  right: 3%;
  width: 80%;
}

header div.banner > div:nth-of-type(1) {
  justify-self: start;
  z-index: 10;
  width: 4rem;
}

header div.banner > div:nth-of-type(1) img {
  width: 100%;
  height: 100%;
}

header nav.navMobile {
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  overflow: auto;
  top: 4rem;
  right: -100%;
  width: 100%;
  opacity: 0;
  transition: all 350ms cubic-bezier(0.6, 0.05, 0.28, 0.91);
  z-index: 11;
}

header nav.navMobile ul {
  list-style-type: none;
  padding-left: 0px;
}

header nav.navMobile ul li a {
  text-align: center;
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0rem;
  transition: all 250ms;
}

header nav.navMobile ul li a:hover {
  padding-left: 45px;
  background-color: #ddd;
  color: black;
}

header nav.navMobile.active {
  right: 0;
  opacity: 1;
}

header nav.navMobile {
  will-change: transform, opacity;
}

header div.mainHeader {
  /* width: 80%; */
  text-align: center;
  margin-bottom: 3rem;
}

header div.mainHeader .icons {
  margin-bottom: 3rem;
}

header div.mainHeader .icons a:nth-child(1) {
  text-decoration: none;
}

header div.mainHeader .icons a:nth-child(1) .icon {
  color: #f2f2f2;
  outline-style: none;
  font-size: 2.5em;
  border-radius: 100%;
}

header div.mainHeader .icons a:nth-child(1) .float {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all .2s ease-out;
}

header div.mainHeader .icons a:nth-child(1) .float:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 100%;
}

header div.mainHeader .icons a:nth-child(2), header div.mainHeader .icons a:nth-child(3) {
  text-decoration: none;
  margin-left: 2rem;
}

header div.mainHeader .icons a:nth-child(2) .icon, header div.mainHeader .icons a:nth-child(3) .icon {
  color: #f2f2f2;
  outline-style: none;
  font-size: 2.5em;
  border-radius: 5px;
}

header div.mainHeader .icons a:nth-child(2) .float, header div.mainHeader .icons a:nth-child(3) .float {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all .2s ease-out;
}

header div.mainHeader .icons a:nth-child(2) .float:hover, header div.mainHeader .icons a:nth-child(3) .float:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

header div.mainHeader .cv {
  margin-bottom: 3rem;
}

header div.mainHeader .cv a {
  text-decoration: none;
  color: #f2f2f2;
}

header div.mainHeader .cv a .icon {
  /*                     color: #2b3a42;
                    padding: 12px 2rem;
                    border-radius: 13px;
                    background-color: #f2f2f2;
                    outline-style: none;
                    font-size: 1.25rem; */
  color: #f2f2f2;
  outline-style: none;
  font-size: 2.5em;
}

header div.mainHeader .cv .float {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all .2s ease-out;
}

header div.mainHeader .cv .float:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

header div.mainHeader p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

header div.mainHeader > p:nth-of-type(1), header div.mainHeader > p:nth-of-type(2) {
  margin-bottom: 3rem;
}

header div.mainHeader h1 {
  font-weight: 300;
  font-size: 4rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding-top: 5rem;
}

body {
  background-color: #e0e0e0;
}

main {
  background-color: white;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

main div {
  border-radius: 10px;
}

main div.floatItSelf {
  transition: all 0.8s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transform: translateY(-5px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

main div.floatItSelfBack {
  transition: all 0.8s cubic-bezier(0.6, 0.05, 0.28, 0.91);
  transform: translateY(0px);
}

main section {
  border-bottom: .5px solid silver;
  border-radius: 10px;
  width: 100%;
  padding: 2rem 2rem;
  margin-top: 2rem;
}

main section.material {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

main section h2 {
  text-align: center;
  font-weight: 100;
  font-size: 35px;
  line-height: 44px;
  padding-bottom: 1.5rem;
}

main section > div:nth-of-type(1) {
  opacity: 1;
  max-height: 5000px;
  transition: all 1000ms cubic-bezier(0, 1, 0, 1);
}

main section > div:nth-of-type(1).hide {
  /*  display: none; */
  transition: all 350ms cubic-bezier(0, 1, 0, 1);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

main section > div:nth-of-type(2) {
  display: block;
  text-align: center;
}

main section > div:nth-of-type(2) i {
  font-size: 1.5em;
  color: #436775;
  /*  @keyframes changewidth {
                    from {
                        font-size: 2em;
                    }
                    
                    to {
                        font-size: 2.5em;
                    }
                }
                    
                
                animation-duration: 0.5s;
                animation-name: changewidth;
                animation-iteration-count: infinite;
                animation-direction: alternate; */
}

main section > div:nth-of-type(2) p {
  margin: 0;
}

main section h3 {
  font-weight: 300;
  font-size: 26px;
  line-height: 40px;
}

main section p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

footer {
  height: 30vh;
  color: whitesmoke;
  background-color: #2B3A42;
  text-align: center;
  display: grid;
  align-content: end;
  margin-top: 20vh;
}

footer p {
  margin-bottom: 2rem;
}
