@import 'material-shadow.scss';
@import 'newHamburger.scss';
$easing: cubic-bezier(.6, .05, .28, .91);

body > div{
    height: 0;
}

*, *::before, *::after, *:before, *:after { 
box-sizing : border-box;
}

.container{
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.child{
    grid-column-start: span 3;
    padding-right: 2rem;
    padding-left: 2rem;
}
.childHeader{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 2rem;
    padding-left: 2rem;
}

.fixedPosition{
   position: fixed;
}

.anchor{
    padding-top: 60px;
    margin-top: -6px;
}

* {
    font-family: 'Roboto', Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}


header{
    color: whitesmoke;  
    background-color: rgb(58, 78, 88);
    padding-bottom: 10vh;
    margin-bottom: 6px;
  

    div.banner{
        @include material-shadow($z-depth:2 );
        .dark {
            @include material-shadow($z-depth: 2, $strength: 3);
          
        }
        .float {
            transition: all .2s ease-out;
            &:hover {
            transform: translateY(-2px);
            @include material-shadow(3);
            border-radius: 100%;
            }
        }

        position: fixed;
        top: 0;
        width: 100%;
        background-color: #436775;
        height: 4rem;
        padding: 0 0.5rem;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-column-gap: 10%;
        align-items: center;
        justify-content: center;
        justify-items: center;
        z-index: 99;

        //hamburguesa
        .head{
            position: fixed;
            top: 2.5px;
            right: 3%;
            width: 80%; 
        }

        //logo
        >div:nth-of-type(1) {
            justify-self: start;
            z-index: 10;
            width: 4rem;
            img{
                width: 100%;
                height: 100%;
            }
        }
        //iconos
/*         >div:nth-of-type(1){
            justify-self: end;
            margin-right: 1rem;
            span{
                display: inline-block;
                height: 1.5rem;
                /*img{
                     padding-left: .5rem;
                    padding-right: .5rem;
                    border-radius: 50%;
                    margin-top: .5rem;
                    margin-bottom: .5rem;
                }*/
            /* }
            span:nth-of-type(2) {
                margin-left: 1rem;
            } 
        }*/  
    }

    nav.navMobile{
        background-color: rgba(51, 51, 51, 0.9);
        position: fixed;
        overflow: auto;
        top: 4rem;
        right: -100%;
        width: 100%;
        opacity: 0;
        transition: all 350ms $easing;
        z-index: 11;
        ul{
            list-style-type: none;
            padding-left: 0px;
            li { 
                a{
                    text-align: center;
                    color: #f2f2f2;
                    text-decoration: none;
                    display: block;
                    padding-top: 1rem;
                    padding-bottom: 1rem;
                    padding-left: 0rem;
                    transition: all 250ms;
                    &:hover {
                        padding-left: 45px;
                        background-color: #ddd;
                        color: black;
                   }
               }
           }
        }

        &.active {
            right: 0;
            opacity: 1;
        }
        & {
            will-change: transform, opacity;
        }
        
    }

    div.mainHeader{
        /* width: 80%; */
        text-align: center;
        margin-bottom: 3rem;

        .icons{
            margin-bottom: 3rem;
    
            a:nth-child(1){
                text-decoration: none;
                .icon{
                    color: #f2f2f2;
                    outline-style: none;
                    font-size: 2.5em;
                    border-radius: 100%;
                }
                .float {
                    @include material-shadow($z-depth: 2);
                    transition: all .2s ease-out;
    
                    &:hover {
                        transform: translateY(-4px);
                        @include material-shadow(4);
                        border-radius: 100%;
                    }
                }                        
            }
    
            a:nth-child(2), a:nth-child(3){
                text-decoration: none;
                margin-left: 2rem;
    
                .icon{
                    color: #f2f2f2;
                    outline-style: none;
                    font-size: 2.5em;
                    border-radius: 5px;
                }

                .float {
                    @include material-shadow($z-depth: 2);
                    transition: all .2s ease-out;
    
                    &:hover {
                        transform: translateY(-4px);
                        @include material-shadow(4);
                    }
                }             
            }
        }
        .cv{
            margin-bottom: 3rem;
            a{
                text-decoration: none;
                color: #f2f2f2;
                .icon{
/*                     color: #2b3a42;
                    padding: 12px 2rem;
                    border-radius: 13px;
                    background-color: #f2f2f2;
                    outline-style: none;
                    font-size: 1.25rem; */
                    color: #f2f2f2;
                    outline-style: none;
                    font-size: 2.5em;
                }
            }
            .float {
                @include material-shadow($z-depth: 2);
                transition: all .2s ease-out;

                &:hover {
                    transform: translateY(-4px);
                    @include material-shadow(4);
                }
            } 

        }

        p{
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
        }
    
        >p:nth-of-type(1), >p:nth-of-type(2) {
            margin-bottom: 3rem;
        }

        h1 {
            
            font-weight: 300;
            font-size: 4rem;     
            margin-top: 4rem;
            margin-bottom: 1rem;
            padding-top: 5rem;
        }
    }
}

body {background-color: rgb(224, 224, 224);}
main {
    background-color: white;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    div{
        border-radius: 10px;
        &.floatItSelf{
            transition: all .8s $easing;
            transform: translateY(-5px);
            @include material-shadow(5);
        }
        &.floatItSelfBack{
            transition: all .8s $easing;
            transform: translateY(0px);

        }
    }
    section{
        border-bottom: .5px solid silver;
        border-radius: 10px;
        width: 100%;
        padding: 2rem 2rem;
        margin-top: 2rem;
        &.material{
            @include material-shadow($z-depth: 3);
        }
        h2{
            text-align: center;
            font-weight: 100;
            font-size: 35px;
            line-height: 44px;
            padding-bottom: 1.5rem;
        }
        >div:nth-of-type(1){
            opacity: 1;
            max-height: 5000px;
            transition: all 1000ms cubic-bezier(0, 1, 0, 1);
            &.hide{
            /*  display: none; */
                transition: all 350ms cubic-bezier(0, 1, 0, 1);
                opacity: 0; 
                max-height: 0;
                overflow: hidden;
            }
        }
        >div:nth-of-type(2){
            display: block;
            text-align: center;
            i{
                font-size: 1.5em;
                color: #436775;
                
    
               /*  @keyframes changewidth {
                    from {
                        font-size: 2em;
                    }
                    
                    to {
                        font-size: 2.5em;
                    }
                }
                    
                
                animation-duration: 0.5s;
                animation-name: changewidth;
                animation-iteration-count: infinite;
                animation-direction: alternate; */
            }
            p{
                margin: 0;
            }
           
        }  
        h3{
            font-weight: 300;
            font-size: 26px;
            line-height: 40px;
        }
        p{
            font-weight: 300;
            font-size: 16px;
            line-height: 26px;
        }
    }
}

footer {
    height: 30vh;
    color: whitesmoke;
    background-color: #2B3A42;
    text-align: center;
    display: grid;
    align-content: end;
    margin-top: 20vh;
    p{
        margin-bottom: 2rem;
    }
}